@import "fonts";
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
              box-sizing: border-box;
}
:root{
	font-size: 10px;
}
body{
	overflow-x: hidden;
}
.wrapper{
	min-width: 320px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: $font1;	
	line-height: 3.5rem;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1, 
h2,
h3,
h4{
	font-weight: normal;
}
button,
select,
button{
      -webkit-appearance: none;
    	-moz-appearance: none;
    		appearance: none;
     border-radius: 0;
     border: none;
}
.container{
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}
.bg{
	background: url(../img/bg-dark.jpg) center top no-repeat;
	background-size: 100%;
	@media screen and (max-width: 1120px){
		background-size: 150%;
	}
	@media screen and (max-width: 992px){
		background-size: 250% auto;
	}
	@media screen and (max-width: 480px){
		background-size: 300% auto;
	}
}

@import "header";
@import "main-block";
@import "footer";
@import "basictable";
//@import "";
//@import "";
//@import "";